*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
:root {
 --clr-main: #002f7d;
 --clr-main-alt: #019ed3;
 --clr-secondary: #b1613c;
 --clr-secondary-alt: #e9ddc5;
 --clr-text: #1b1b1b;
 --clr-grey:#B0B3B6;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 60px 20px;
}

footer {
  margin-top: auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}