*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
:root {
 --clr-main: #002f7d;
 --clr-main-alt: #019ed3;
 --clr-secondary: #b1613c;
 --clr-secondary-alt: #e9ddc5;
 --clr-text: #1b1b1b;
 --clr-grey:#B0B3B6;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 60px 20px;
}

footer {
  margin-top: auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
}
.currency-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.info-block p {
  margin: 0;
}
.input-default {
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--clr-grey);
}
.flag-ml {
  margin-left: 15px;
}
.flag-mr {
  margin-right: 10px;
}